body{
  font-family: Arial;
  max-width:600px;
  margin:auto;
  }
  
  #messages{
  list-style:none;
  padding:0;
  }
  
  #messages li{
  padding:8px;
  background:#f2f2f2;
  margin:5px 0;
  }
  
  form{
  display:flex;
  gap:10px;
  }